.fondo {
    background: url(../imagenes/loginIMG.png) no-repeat center center fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: '#66999';

}

.tarjeta {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.005); 
    padding: 10px;
    text-align: center;
}

.imagen {
width: 120px;
height: 30px;
}

iconoPosicion {
position: absolute;
margin-left: 300px;
margin-top: 7px;
height: 25px;
display: flex;
align-items: center;
}

.input {
padding-left: 25px;
height: 20px;
}